.card { 
    display:flex; 
    justify-content: center; 
    align-items: center;
    flex-flow: column wrap;  
    background-color: var(--secondary);
    height: 150 px; 
    max-width: 200px; 
    border-radius: 15 px; 
    margin: 20px auto; 

}